<%= provide(:title, "Home") %>

<div class="center jumbotron">
    <h1>SALESTARS</h1>

    <h2>
        Get a job as a top-tier sales specialist
    </h2>

    <%= link_to "Take the Quiz", start_path, class: "btn btn-lg btn-primary" %>
</div>

